
<div class="footer border-top border-secondary-subtle">

    <div class="social mb-1">
        <!-- {/* LinkedIn */} -->
        <a class="btn btn-outline-dark btn-floating m-1" href="https://www.linkedin.com/in/harsh-jaiswal-93755a2a7/" role="button" target='blank'>
            <i class="fab fa-linkedin-in"></i>
          </a>

        <!-- {/* GitHub */} -->
        <a class="btn btn-outline-dark btn-floating m-1" href="https://github.com/Harsh-Jaiswal24" role="button" target='blank'>
                   <i class="fab fa-github"></i>
                 </a>
         
        <!-- {/* Google */} -->
        <a class="btn btn-outline-dark btn-floating m-1"  href="mailto:harsh4jaiswal@gmail.com?subject=Inquiry%20from%20NoteSolver%20Visitor" role="button" target='blank'>
            <i class="fab fa-google"></i>
          </a>

        <!-- {/* Instagram */} -->
        <a class="btn btn-outline-dark btn-floating m-1" href="https://www.instagram.com/harsh_jais2005/" role="button" target='blank'>
            <i class="fab fa-instagram"></i>
          </a>
    </div>

    <div class="social mb-1">
        <b>
        Designed & Developed by     <a href="https://github.com/Harsh-Jaiswal24" role="button" target='blank' style="text-decoration: none; color: #212529;">
            Harsh Jaiswal
          </a>
    </b>
    </div>
    

    <div class="social mb-1">
      <b>
      <a href="https://notesolver-frontend.onrender.com/" role="button" target='blank' style="text-decoration: none; color: #212529;">
         Check Out Featured Project
        </a>
      </b>
  
  </div>    


    <div class="company">
        &copy; WonderLust Private Limited
    </div>
   
    <div class="privacyterms">
            <a class="privacyterms-link">Privacy</a>
            <a class="privacyterms-link">Terms</a>
    </div>
</div>
