body{
    display: flex;
    flex-direction: column;
min-height: 100vh; 
}
.container{
 flex: 1;   
}

.navbar{
    height: 5rem;
    background-color: white;
}
.fa-location-arrow{
    font-size: 2rem;
    color: rgb(123, 228, 231);
}
.nav-link{
    color: rgb(0, 0, 0) !important;
    margin: 4px;
}

.privacyterms-link{
    text-decoration: none !important;
    color: black;
    
}
.privacyterms-link:hover{
    text-decoration: underline !important;
}
.social{
    width: 100%;
}
.fa-brands{
    font-size: 1.2rem;
    margin-right: 1rem;
    margin-top: .3rem;
    margin-bottom: .4rem;
}
.privacyterms{
    width: 100%;
}

    .footer{
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    padding-top: 5px;
    background-color: aquamarine;
    justify-content: center;
    align-content: space-evenly;
    bottom: 0;
    
}

.listing-card{
    border: none !important;
    margin-bottom: 2rem ;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0;
}
.card-text p{
    font-weight: 600;
}
.row{
    border: none !important;
    
    
}

.listing-link{
    text-decoration: none !important;
}
.container a {
    text-decoration: none !important;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: .2;
    background-color: white;
}

